body{
  background-color: rgb(170, 15, 15);
}

.toolBox{
  width: 200px;
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
transition: all .2s ease-in-out;
cursor: pointer;
border: 0.5px solid rgb(40, 40, 40);
padding: 5px;
border-radius: 12px;

  &:hover{
    
    border: 1px solid rgb(40, 40, 40);
    filter: contrast(1);
  }
}
@media only screen and (max-width: 768px) {
  .toolBox{
    width: 100%;
   padding-top: 15px;
   padding-bottom: 15px;
  }
}